name: CI build and push (PR)

concurrency:
  group: pr-${{ github.event.number }}
  cancel-in-progress: true

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - unlabeled
      - edited
    branches:
      - main
      - v[0-9]+
      - v[0-9]+.[0-9]+
      - cryostat-v[0-9]+.[0-9]+

jobs:
  build-and-test:
    uses: ./.github/workflows/ci-jobs.yml
  push-to-ghcr:
    runs-on: ubuntu-latest
    needs: [build-and-test]
    steps:
    - name: Fail if safe-to-test label not applied
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'safe-to-test') }}
      run: exit 1
    - uses: actions/download-artifact@v3
      with:
        name: cryostat
      if: github.repository_owner == 'cryostatio'
    - name: Load cryostat image
      run: podman load -i cryostat.tar
      if: github.repository_owner == 'cryostatio'
    - name: Tag cryostat image
      run: podman tag cryostat ghcr.io/${{ github.repository_owner }}/cryostat:pr-${{ github.event.number }}
      if: github.repository_owner == 'cryostatio'
    - name: Push PR test image to ghcr.io
      uses: redhat-actions/push-to-registry@v2
      with:
        image: cryostat
        tags: pr-${{ github.event.number }}
        registry: ghcr.io/${{ github.repository_owner }}
        username: ${{ github.event.pull_request.user.login }}
        password: ${{ secrets.CI_GHCR_TEST_SECRET }}
      if: github.repository_owner == 'cryostatio'
    - name: Comment test image link
      id: comment-test-image-link
      uses: thollander/actions-comment-pull-request@v1
      with:
        message: |-
          Test image available:
          ```
          $ CRYOSTAT_IMAGE=ghcr.io/${{ github.repository_owner }}/cryostat:pr-${{ github.event.number }} sh smoketest.sh
          ```
      if: github.repository_owner == 'cryostatio'
