name: Require semantic labels

on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

jobs:
  check-pr-label-and-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: yashhy/pr-label-check-and-comment-action@v1.0.1
        with:
          # This list is duplicated from release-drafter.yml
          required_labels: 'chore,ci,cleanup,docs,feat,fix,perf,refactor,style,test'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
